<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
	<system.diagnostics>
  <sources>
   <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
    <listeners>
     <add type="System.Diagnostics.DefaultTraceListener" name="Default">
      <filter type="" />
     </add>
     <add name="ServiceModelMessageLoggingListener">
      <filter type="" />
     </add>
    </listeners>
   </source>
   <source propagateActivity="true" name="System.ServiceModel" switchValue="Warning,ActivityTracing">
    <listeners>
     <add type="System.Diagnostics.DefaultTraceListener" name="Default">
      <filter type="" />
     </add>
     <add name="ServiceModelTraceListener">
      <filter type="" />
     </add>
    </listeners>
   </source>
  </sources>
  <sharedListeners>
   <add initializeData="d:\buy and recharge mobile system\buy and recharge mobile system\buy and recharge mobile system_messages.svclog"
    type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
    <filter type="" />
   </add>
   <add initializeData="d:\buy and recharge mobile system\buy and recharge mobile system\buy and recharge mobile system_tracelog.svclog"
    type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
    name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
    <filter type="" />
   </add>
  </sharedListeners>
  <trace autoflush="true" />
 </system.diagnostics>
 <appSettings>
		<add key="DatabaseName" value="Recharge System"/>
		<add key="ServerName" value="SARAALNAJAR"/>
		<add key="UserId" value="sa"/>
		<add key="Password" value="sedco@123"/>
		<add key="DataSourceType" value="Restful"/>
	</appSettings>
	<system.serviceModel>
		<diagnostics performanceCounters="Default">
   <messageLogging logEntireMessage="true" logMalformedMessages="true"
    logMessagesAtTransportLevel="true" />
  </diagnostics>
  <bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IBuyAndRechargeService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost/BuyAndRechargeWcfService/BuyAndRechargeService.svc"
             binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuyAndRechargeService"
             contract="BuyAndRechargeService.IBuyAndRechargeService" name="BasicHttpBinding_IBuyAndRechargeService" />
		</client>
	</system.serviceModel>
	<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>